.submenu{
    border: 2px solid red;
}
.test3{
    color: aqua;
}
.test8{
    color: green;
}
.dev1-1{
    background: red;
}
.ramatest1{
    background-color: rebeccapurple;
}
.ramatest2{
    background-size: cover;
}
.ramatest3{
    background-size: cover;
}