.menu{
    border: 1px dotted red;
}
.menutest1{
    border: 1px solid black;
}
.test6{
    padding: 10px;
}
.test1-2{
    border-radius: 20px;
}
.test1-4{
    box-shadow: transparent;
}
.test1-6{
    box-shadow: transparent;
}
.ramadev2{
    background-color: black;
}