.commit2{
    border: 1px dotted red;
}
.commit3{
    border: 1px solid black;
}
.commit4{
    border: 1px solid rebeccapurple;
}
.test4{
    background-color: aquamarine;
}
.test5{
    margin: 10px;
}