.commit2{
    border: 1px dotted red;
}
.commit3{
    border: 1px solid black;
}
.commit4{
    border: 1px solid rebeccapurple;
}
.modulttest1{
    background-size: contain;
}
.test5{
    margin: 10px;
}
.test1-1{
    background-image: initial;
}
.test1-3{
    background-repeat: no-repeat;
}
.test1-5{
    background-repeat: no-repeat;
}
.ramadev1{
    background: rebeccapurple;
}